body {
  padding: 50px;
  font: 14px "Zichtbaar Regular", Helvetica, Arial, sans-serif;
}
h1 {
  font-family: "Zealand", Helvetica, Arial, sans-serif;
  font-variant-ligatures: contextual;
  font-feature-settings: "calt";
  font-size: 48px;
}

a {
  color: #000000;
}
