body {
  padding: 50px;
  font: 14px "Zichtbaar", Helvetica, Arial, sans-serif;
}

h1 {
  font-family: "Zealand Display", Arial, Helvetica, sans-serif;
  font-variant-ligatures: contextual;
  font-feature-settings: "calt";
  font-size: 40px;
}

a {
  color: #00B7FF;
}
